.footer {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  padding-top: var(--spacing-xl);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--spacing-xl);
}
.footer-section{
    width: 50%;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: var(--spacing-md);
}

.footer-section h3 {
  font-size: var(--font-size-lg);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: var(--spacing-sm);
}

.footer-section a {
  color: var(--button-text-color);
  text-decoration: none;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.footer-section a:hover {
  opacity: 1;
}
.contact-p{
    display: flex;
    align-items: center;
    height: 20px;
    /* justify-content: space-around; */
    padding: 0;
    width: 250px;
    margin-top: var(--spacing-sm);
}
.contact-p a{
    margin-left: 8px;
    padding: 0;
}


.footer-bottom {
  text-align: center;
  padding: var(--spacing-md);
  margin-top: var(--spacing-xl);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0.8;
  font-size: var(--font-size-sm);
}