@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
 /* Typography*/
 --primary-font-family: "Poppins", sans-serif;
 --font-size-xs: 0.75rem;
 --font-size-sm: 0.875rem;
 --font-size-md: 1rem;
 --font-size-lg: 1.125rem;
 --font-size-xl: 1.5rem;
 --font-size-2xl: 2rem;


 --line-height: 1.5;
 --font-weight-light: 300;
 --font-weight-regular: 400;
 --font-weight-medium: 500;
 --font-weight-semibold: 600;


 /*black and white colors- black and white colors*/
 --background-color: #ffffff;
 --surface-color: #f9f9f9;
 --border-color: #e5e7eb;


 --primary-color: #09090b;     
 --secondary-color: #52525b;    
 --muted-color: #a1a1aa;        


 /* Interactive states */
 --hover-main-color: #e5f2fc;
 --active-color: #18181b;
 --focus-color: #d4d4d8;


 /* Buttons colors */
 --button-bg: #09090b;
 --button-text-color: #ffffff;
 --button-hover-bg: #18181b;
 --button-disabled-bg: #a1a1aa;


 /* status codes*/
 --success-color: #16a34a;
 --success-bg: rgba(22, 163, 74, 0.1);


 --error-color: #dc2626;
 --error-bg: rgba(220, 38, 38, 0.1);


 --warning-color: #ca8a04;
 --warning-bg: rgba(202, 138, 4, 0.1);


 /* notifications */
 --notification-number-color: #ec4899;
 --notification-bg: #09090b;
 --notification-text: #ffffff;


 /* layout colors */
 --radius-sm: 6px;
 --radius-md: 10px;
 --radius-lg: 16px;


 --spacing-xs: 4px;
 --spacing-sm: 8px;
 --spacing-md: 16px;
 --spacing-lg: 24px;
 --spacing-xl: 32px;


 /* shadow colors */
 --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
 --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
 --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);
}

a{
    text-decoration: none;
}